<launch>

	<!-- Are we running in simulation or on the real robot? -->
	<arg name="sim" default="false" />

  	<include file="$(find pr2_arm_control)/launch/move_group.launch" />

  	<arg name="realtime" default="True" />

	<node name="pr2_arm_control" pkg="pr2_arm_control" type="arm_control_node.py" output="screen" args="$(arg realtime)" />

  	<include file="$(find pr2_arm_control)/launch/fake_frames.launch" />

</launch>
